@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Inter:wght@400;700&display=swap");
@font-face {
  font-family: "SF Pro Display Regular";
  src: url("../fonts/SFProDisplayRegular/SFProDisplay-Regular.eot");
  /* IE9*/
  src: url("../fonts/SFProDisplayRegular/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplayRegular/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplayRegular/SFProDisplay-Regular.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
  font-family: "SF Pro Text Semibold";
  src: url("../fonts/SFProTextSemibold/SFProText-Semibold.eot");
  /* IE9*/
  src: url("../fonts/SFProTextSemibold/SFProText-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProTextSemibold/SFProText-Semibold.woff") format("woff"), url("../fonts/SFProTextSemibold/SFProText-Semibold.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?vqjtn4");
  src: url("../fonts/icomoon/icomoon.eot?vqjtn4#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?vqjtn4") format("truetype"), url("../fonts/icomoon/icomoon.woff?vqjtn4") format("woff"), url("../fonts/icomoon/icomoon.svg?vqjtn4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-perscription:before {
  content: "\e901";
}

.icon-user:before {
  content: "\e908";
}

.icon-home:before {
  content: "\e910";
}

.icon-calendar:before {
  content: "\e911";
}

.icon-cite:before {
  content: "\e91f";
  font-size: 10px;
  line-height: 14px;
}

.icon-danger-alert:before {
  content: "\e900";
}

.icon-file-text:before {
  content: "\e902";
}

.icon-status-error:before {
  content: "\e903";
}

.icon-status-success:before {
  content: "\e904";
}

.icon-exclude:before {
  content: "\e905";
}

.icon-location-point:before {
  content: "\e906";
}

.icon-microphone:before {
  content: "\e907";
}

.icon-setting:before {
  content: "\e909";
}

.icon-file-text-clean:before {
  content: "\e90a";
}

.icon-call-off:before {
  content: "\e90b";
}

.icon-camera-off:before {
  content: "\e90c";
}

.icon-microphone-off:before {
  content: "\e90d";
}

.icon-list:before {
  content: "\e90e";
}

.icon-time:before {
  content: "\e90f";
}

.icon-user-fill:before {
  content: "\e912";
}

.icon-alert:before {
  content: "\e913";
}

.icon-camera:before {
  content: "\e914";
}

.icon-envelope:before {
  content: "\e915";
}

.icon-telegram-plane:before {
  content: "\e916";
}

.icon-info:before {
  content: "\e917";
}

.icon-money:before {
  content: "\e918";
}

.icon-notification:before {
  content: "\e919";
}

.icon-file-text-plus:before {
  content: "\e91a";
}

.icon-call:before {
  content: "\e91b";
}

.icon-on-clinic:before {
  content: "\e91c";
}

.icon-newspaper:before {
  content: "\e91d";
}

.icon-phone:before {
  content: "\e91e";
}

.icon-folder-open:before {
  content: "\e930";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, div, p, h1, h2, h3, h4, h6, h6, ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

p, input, button {
  font-family: inherit;
}

ul {
  list-style: none;
}

input[type=checkbox],
input[type=radio] {
  margin: 0;
}

body {
  height: 100%;
  font-family: Roboto, sans-serif;
  background-color: #F9F9FF;
}
body.lock {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1B6EBE;
}

label {
  display: block;
  color: #4F4F4F;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 5px;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  outline: none;
}
input:not(input[type=checkbox], input[type=radio]) {
  width: 100%;
}

.password_wrapper {
  position: relative;
}
.password_wrapper .password_eye {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

button:disabled,
button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.button {
  border-radius: 3px;
  padding: 8px 0;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.button:hover:not(button:disabled, button[disabled]) {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.form_button {
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  padding: 11px 0;
}

.button-olive {
  font-weight: 600;
  color: #FFFFFF;
  background-color: #B7B308;
}

.button-main {
  font-weight: 500;
  color: #FFFFFF;
  background-color: #1B6EBE;
}

.button-white {
  font-weight: 500;
  color: #1B6EBE;
  background-color: #FFFFFF;
  border: 1px solid #1B6EBE;
}

.button-olive-white {
  font-weight: 500;
  color: #B7B308;
  background-color: #FFFFFF;
  border: 1px solid #B7B308;
}

.call_link {
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.call_link::before {
  position: absolute;
  top: 0;
  left: -18px;
  content: url("../svg/icons/phone.svg");
}
.call_link:hover {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.callback_link {
  text-decoration: underline;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #1B6EBE;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.callback_link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.back_to {
  color: #1B6EBE;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  padding-left: 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.back_to::before {
  position: absolute;
  content: url("../svg/icons/arrow-left.svg");
  top: 0;
  left: 0;
}
.back_to:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.back_link {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  padding-left: 21px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.back_link::before {
  position: absolute;
  content: url("../svg/icons/arrow-link.svg");
  top: 0;
  left: 0;
}
.back_link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  padding-left: 26px;
}

.title {
  color: #333333;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.form_group_wrapper:not(.form_group_wrapper:last-of-type) {
  padding-bottom: 25px;
}

.form_group_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.form_text,
.label_by_check {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.label_by_check {
  display: inline;
  padding-left: 10px;
  padding-bottom: 0;
}

span.error {
  display: block;
  padding-top: 5px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #FF4B4B;
}

input.error {
  border-color: #FF4B4B;
  color: #FF4B4B;
}
input.error::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FF4B4B;
}
input.error::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FF4B4B;
  opacity: 1;
}
input.error:-ms-input-placeholder { /* Firefox */
  color: #FF4B4B;
  opacity: 1;
}
input.error::-ms-input-placeholder { /* Firefox */
  color: #FF4B4B;
  opacity: 1;
}
input.error::placeholder { /* Firefox */
  color: #FF4B4B;
  opacity: 1;
}
input.error:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FF4B4B;
}
input.error::-ms-input-placeholder { /* Microsoft Edge */
  color: #FF4B4B;
}

.toggle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F9F9FF;
  border-radius: 133.884px;
}
.toggle .toggle__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.toggle .toggle__item span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  color: #000000;
}
.toggle .toggle__item input[type=radio] {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
}
.toggle .toggle__item input[type=radio]:checked + span {
  background-color: #1B6EBE;
  border-radius: 133.884px;
  color: #FFFFFF;
}

.buttons_wrapper {
  width: 100%;
}
.buttons_wrapper button {
  width: 100%;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  background-color: #1B6EBE;
  color: #FFFFFF;
  padding: 9px 20px 9px 15px;
  position: fixed;
  z-index: 2;
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav .nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav .header__logo {
  max-width: 92px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.header__nav .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 30px;
}
.header__nav .header__menu .menu__item .menu__link {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav .header__menu .menu__item .menu__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__nav .header__menu .menu__item:not(.header__nav .header__menu .menu__item:last-child) .menu__link {
  padding-right: 14px;
  position: relative;
}
.header__nav .header__menu .menu__item:not(.header__nav .header__menu .menu__item:last-child) .menu__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 9px;
  width: 1px;
  height: 10px;
  background-color: #FFFFFF;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__nav .header__menu .menu__item--active {
  font-weight: 600;
}

.header__burger {
  display: none;
  position: relative;
  width: 20px;
  height: 16px;
  margin-right: 20px;
  z-index: 3;
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 1px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger .burger__lines {
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  height: 2px;
  top: 7px;
  border-radius: 1px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__burger.is-active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}
.header__burger.is-active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 7px;
}
.header__burger.is-active .burger__lines {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__call_and_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__call_and_lang .header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
.header__call_and_lang .header__call .button {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 16px;
}
.header__call_and_lang .header__call .call_link {
  padding-right: 30px;
}

.langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.langs .langs__item {
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
.langs .langs__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.langs .langs__item:not(.langs .langs__item:first-child) {
  padding-left: 16px;
}
.langs .langs__item--active {
  font-weight: 600;
}

.footer {
  width: 100%;
  background-color: #1B6EBE;
  color: #FFFFFF;
  z-index: 1;
}
.footer .footer_content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  max-width: 690px;
  width: 100%;
  margin: 24px auto;
  padding: 0 15px;
}
.footer .footer_content__wrapper .warning_text {
  color: #73CDFE;
}
.footer .footer_content__wrapper .privacy_policy__link {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.footer .footer_content__wrapper .privacy_policy__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer_mobile {
  display: none;
  width: 100%;
  background-color: #FFFFFF;
}
.footer_mobile .footer_mobile__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}
.footer_mobile .footer_mobile__menu .menu__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.footer_mobile .footer_mobile__menu .footer_mobile__icon {
  display: block;
  margin: 0 auto 5px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #949393;
  font-size: 24px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.footer_mobile .footer_mobile__menu .menu__item {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.footer_mobile .footer_mobile__menu .menu__item:hover:not(.menu__item--disable) {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.footer_mobile .footer_mobile__menu .menu__item:hover:not(.menu__item--disable) .footer_mobile__icon {
  color: #1B6EBE;
}
.footer_mobile .footer_mobile__menu .menu__item--active .footer_mobile__icon {
  color: #1B6EBE;
}
.footer_mobile .footer_mobile__menu .menu__item--disable .footer_mobile__icon,
.footer_mobile .footer_mobile__menu .menu__item--disable .menu__link {
  color: #D3D3D3;
}

.sidebar {
  display: block;
  background-color: #FFFFFF;
  overflow: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 224px;
  height: calc(100vh - 50px);
  position: fixed;
  z-index: 1;
}
.sidebar .buttons_wrapper .button {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.sidebar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.sidebar__wrapper .sidebar__nav {
  width: 100%;
}

.sidebar_menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.sidebar_menu .sidebar_menu__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sidebar_menu .sidebar_menu__link .menu_icon__wrapper {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}
.sidebar_menu .sidebar_menu__link .menu_icon__wrapper.mark::after {
  position: absolute;
  content: "";
  top: -3px;
  right: -3px;
  width: 11px;
  height: 11px;
  background-color: #FF1E1E;
  border-radius: 50%;
}
.sidebar_menu .sidebar_menu__link .menu_icon {
  color: #FFFFFF;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sidebar_menu .sidebar_menu__item {
  padding: 15px 0;
  border-bottom: 1px solid #BEE8FF;
}
.sidebar_menu .sidebar_menu__item:nth-child(odd) .menu_icon__wrapper {
  background-color: #1B6EBE;
}
.sidebar_menu .sidebar_menu__item:nth-child(even) .menu_icon__wrapper {
  background-color: #B7B308;
}
.sidebar_menu .sidebar_menu__item .sidebar_menu__link--arrow::after {
  position: absolute;
  content: "";
  top: calc(50% - 3px);
  right: 4px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top: none;
  border-left: none;
  border-right: 2px solid #BEE8FF;
  border-bottom: 2px solid #BEE8FF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sidebar_menu .sidebar_menu__item:hover {
  background-color: #EAF5FF;
}
.sidebar_menu .sidebar_menu__item:hover .sidebar_menu__link--arrow::after {
  border-right: 3px solid #BEE8FF;
  border-bottom: 3px solid #BEE8FF;
}
.sidebar_menu .sidebar_menu__item:hover .sidebar_menu__link--arrow_back::after {
  border-left: 3px solid #BEE8FF;
  border-top: 3px solid #BEE8FF;
}
.sidebar_menu .sidebar_menu__item .sidebar_submenu {
  position: fixed;
  top: 50px;
  left: 224px;
  background-color: #FFFFFF;
  max-width: 235px;
  width: 100%;
  height: calc(100vh - 50px - 64px);
  padding-left: 15px;
  padding-right: 15px;
  border-left: 2px solid #F9F9FF;
  overflow: auto;
  -webkit-transition: opacity 1s, -webkit-transform 0.8s ease;
  transition: opacity 1s, -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 1s;
  transition: transform 0.8s ease, opacity 1s;
  transition: transform 0.8s ease, opacity 1s, -webkit-transform 0.8s ease;
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
  z-index: -1;
  opacity: 0;
}
.sidebar_menu .sidebar_menu__item .sidebar_submenu.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  z-index: 1;
  opacity: 1;
}
.sidebar_menu .sidebar_menu__item .sidebar_submenu .sidebar_menu__item:nth-child(odd) .menu_icon__wrapper {
  background-color: #1B6EBE;
}
.sidebar_menu .sidebar_menu__item .sidebar_submenu .sidebar_menu__item:nth-child(even) .menu_icon__wrapper {
  background-color: #B7B308;
}

.sidebar__mobile {
  display: none;
  position: fixed;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  left: 0;
  top: 49.7px;
  bottom: 0;
  width: 85%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.sidebar__mobile.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-box-shadow: 140px 1px 11px 0px rgb(84, 92, 135);
  box-shadow: 140px 1px 11px 0px rgb(84, 92, 135);
}
.sidebar__mobile .sidebar__wrapper {
  max-width: 260px;
  width: 100%;
  padding: 0;
}
.sidebar__mobile .buttons_wrapper .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.sidebar__mobile .sidebar_menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.sidebar__mobile .sidebar_menu__item .menu_icon__wrapper {
  width: 30px;
  height: 30px;
}
.sidebar__mobile .sidebar_mobile__call_and_lang {
  text-align: center;
  border-top: 1px solid #BEE8FF;
}
.sidebar__mobile .sidebar_mobile__call_and_lang .sidebar_mobile__call {
  padding-bottom: 35px;
}
.sidebar__mobile .sidebar_mobile__call_and_lang .sidebar_mobile__call .button {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.sidebar__mobile .sidebar_mobile__call_and_lang .sidebar_mobile__call .call_link {
  color: #1B6EBE;
}
.sidebar__mobile .sidebar_mobile__call_and_lang .sidebar_mobile__call .call_link::before {
  content: url("../svg/icons/phone-main.svg");
}
.sidebar__mobile .langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__mobile .langs .langs__item:not(.langs__item:first-child) {
  padding-left: 35px;
}
.sidebar__mobile .sidebar__nav {
  position: relative;
}
.sidebar__mobile .sidebar_mobile_submenu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: -1;
  opacity: 0;
}
.sidebar__mobile .sidebar_mobile_submenu.active {
  z-index: 1;
  opacity: 1;
}
.sidebar__mobile .sidebar_mobile_submenu .sidebar_menu__item:nth-child(odd) .menu_icon__wrapper {
  background-color: #1B6EBE;
}
.sidebar__mobile .sidebar_mobile_submenu .sidebar_menu__item:nth-child(even) .menu_icon__wrapper {
  background-color: #B7B308;
}
.sidebar__mobile .sidebar_mobile_submenu .sidebar_menu__link--arrow_back {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar__mobile .sidebar_mobile_submenu .sidebar_menu__link--arrow_back::after {
  position: absolute;
  content: "";
  top: calc(50% - 3px);
  left: 4px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-bottom: none;
  border-right: none;
  border-left: 2px solid #BEE8FF;
  border-top: 2px solid #BEE8FF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sidebar__mobile .sidebar_mobile_submenu .sidebar_menu__link--arrow_back:hover .sidebar_menu__link--arrow_back::after {
  border-right: 3px solid #BEE8FF;
  border-bottom: 3px solid #BEE8FF;
}

.cabinet_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 49.7px;
  position: relative;
}
.cabinet_wrapper .cabinet_content {
  min-height: calc(100vh - 49.67px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cabinet_wrapper .cabinet_content .my_cabinet {
  margin-right: 320px;
}
.cabinet_wrapper .cabinet_content .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cabinet_wrapper .content__my_cabinet {
  margin-left: 224px;
}

.info_content__paragraph {
  max-width: 480px;
  width: 100%;
  color: #6F6F6F;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.authentications_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.authentications_wrapper .back_to {
  position: absolute;
  top: 20px;
  left: 25px;
}
.authentications_wrapper .onbording_mobile {
  display: none;
  background-color: #FFFFFF;
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.authentications_wrapper .onbording_mobile .onbording_mobile__wrapper {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.authentications_wrapper .onbording_mobile .onbording_mobile__wrapper .info_content__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.authentications_wrapper .onbording_mobile .onbording_mobile__wrapper .info_content__img_wrapper {
  max-width: 316px;
  margin: 0 auto;
}
.authentications_wrapper .form_content {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: #FFFFFF;
  height: calc(100vh - 49.67px - 64px);
  overflow-y: auto;
  position: relative;
}
.authentications_wrapper .form_content .form_wrapper {
  max-width: 309px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.authentications_wrapper .info_content {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}
.authentications_wrapper .info_content .info_content__paragraph {
  text-align: center;
  margin: 0 auto;
}
.authentications_wrapper .info_content .info_content__img_wrapper {
  max-width: 555px;
  width: 100%;
  margin: 0 auto;
}

.cabinet_not_active__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.cabinet_not_active__wrapper .cabinet_not_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.cabinet_not_active__wrapper .cabinet_not_active .cabinet_not_active__content {
  max-width: 340px;
  width: 100%;
}
.cabinet_not_active__wrapper .cabinet_not_active .cabinet_not_active__content .cabinet_not_active__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.cabinet_not_active__wrapper .cabinet_not_active .cabinet_not_active__content .buttons_wrapper {
  display: none;
}
.cabinet_not_active__wrapper .cabinet_not_active .cabinet_not_active__content .cabinet_not_active__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.cabinet_not_active__wrapper .cabinet_not_active .cabinet_not_active__img {
  max-width: 370px;
  width: 100%;
}
.cabinet_not_active__wrapper .cabinet_not_active .confirmation .confirmation__link {
  display: block;
  background-color: #FFFFFF;
  max-width: 160px;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.cabinet_not_active__wrapper .cabinet_not_active .confirmation .confirmation__link:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.cabinet_not_active__wrapper .cabinet_not_active .confirmation .confirmation__link + .confirmation__link {
  margin-left: 10px;
}
.cabinet_not_active__wrapper .cabinet_not_active .confirmation .confirmation_icon__wrapper {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: #1B6EBE;
  border-radius: 50%;
  position: relative;
}
.cabinet_not_active__wrapper .cabinet_not_active .confirmation .confirmation_icon__wrapper .confirmation_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFFFFF;
  font-size: 25px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cabinet_not_active__wrapper .add_to_screen_block {
  display: none;
}

.add_to_screen_block {
  max-width: 360px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.add_to_screen_block .add_to_screen__wrapper {
  padding: 25px 20px;
  position: relative;
}
.add_to_screen_block .add_to_screen__wrapper .close_button {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 25px;
  right: 20px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.add_to_screen_block .add_to_screen__wrapper .add_to_screen__wrapper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.add_to_screen_block .add_to_screen__wrapper .add_to_screen__icon {
  max-width: 51px;
}
.add_to_screen_block .add_to_screen__wrapper .add_to_screen__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-left: 20px;
  padding-right: 30px;
}

.my_cabinet {
  position: relative;
}
.calendar__wrapper {
  position: fixed;
  height: 100%;
  width: 320px;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  z-index: 0;
  overflow: auto;
  padding-bottom: 64px;
  padding-top: 50px;
}

@media screen and (max-width: 992px) {
  .header__burger,
  .footer_mobile,
  .header .header__container {
    display: block;
  }
  .header__call_and_lang,
  .footer,
  .sidebar {
    display: none;
  }
  .header {
    padding: 14px 20px;
  }
  .sidebar__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 55px;
  }
  .header__nav .header__logo {
    max-width: 78px;
  }
  .header__nav .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 30px;
  }
  .header__nav .header__menu .menu__item {
    font-size: 12px;
  }
  .header__nav .header__menu .menu__item:not(.header__nav .header__menu .menu__item:last-child) .menu__link {
    padding-right: 21px;
  }
  .header__nav .header__menu .menu__item:not(.header__nav .header__menu .menu__item:last-child) .menu__link::after {
    top: 50%;
    right: 10px;
    width: 1px;
    height: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .cabinet_wrapper {
    margin-top: 55.48px;
  }
  .cabinet_wrapper .cabinet_content {
    min-height: calc(100vh - 55.46px);
  }
  .cabinet_wrapper .cabinet_content .my_cabinet {
    margin-right: 0;
  }
  .cabinet_wrapper .content__my_cabinet {
    margin-left: 0;
  }
  .authentications_wrapper {
    display: block;
  }
  .authentications_wrapper .form_content {
    height: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .authentications_wrapper .form_content .form_wrapper {
    height: unset;
    margin: auto;
    padding: 60px 0 30px 0;
  }
  .authentications_wrapper .info_content {
    display: none;
  }
  .authentications_wrapper .onbording_mobile {
    display: block;
  }
  .cabinet_not_active__wrapper {
    height: unset;
  }
  .cabinet_not_active__wrapper .cabinet_not_active {
    padding: 25px 35px;
  }
  .cabinet_not_active__wrapper .cabinet_not_active .cabinet_not_active__content {
    max-width: 320px;
  }
  .cabinet_not_active__wrapper .cabinet_not_active .cabinet_not_active__content .buttons_wrapper {
    display: block;
  }
  .cabinet_not_active__wrapper .cabinet_not_active .cabinet_not_active__img {
    display: none;
  }
  .cabinet_not_active__wrapper .add_to_screen_block {
    display: block;
  }
  .calendar__wrapper {
    display: none;
  }
}/*# sourceMappingURL=app.css.map */