// Roboto, Inter
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Inter:wght@400;700&display=swap');

// SF Pro Display Regular
@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SFProDisplayRegular/SFProDisplay-Regular.eot');
    /* IE9*/
    src: url('../fonts/SFProDisplayRegular/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/SFProDisplayRegular/SFProDisplay-Regular.woff') format('woff'),
        /* chrome、firefox */
        url('../fonts/SFProDisplayRegular/SFProDisplay-Regular.ttf') format('truetype');
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

// SF Pro Text Semibold
@font-face {
    font-family: "SF Pro Text Semibold";
    src: url("../fonts/SFProTextSemibold/SFProText-Semibold.eot");
    /* IE9*/
    src: url("../fonts/SFProTextSemibold/SFProText-Semibold.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/SFProTextSemibold/SFProText-Semibold.woff") format("woff"),
        /* chrome、firefox */
        url("../fonts/SFProTextSemibold/SFProText-Semibold.ttf") format("truetype");
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

// iconmoon
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?vqjtn4');
    src: url('../fonts/icomoon/icomoon.eot?vqjtn4#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?vqjtn4') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?vqjtn4') format('woff'),
        url('../fonts/icomoon/icomoon.svg?vqjtn4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-perscription:before {
    content: "\e901";
}

.icon-user:before {
    content: "\e908";
}

.icon-home:before {
    content: "\e910";
}

.icon-calendar:before {
    content: "\e911";
}

.icon-cite:before {
    content: "\e91f";
    font-size: 10px;
    line-height: 14px;
}

.icon-danger-alert:before {
    content: "\e900";
}

.icon-file-text:before {
    content: "\e902";
}

.icon-status-error:before {
    content: "\e903";
}

.icon-status-success:before {
    content: "\e904";
}

.icon-exclude:before {
    content: "\e905";
}

.icon-location-point:before {
    content: "\e906";
}

.icon-microphone:before {
    content: "\e907";
}

.icon-setting:before {
    content: "\e909";
}

.icon-file-text-clean:before {
    content: "\e90a";
}

.icon-call-off:before {
    content: "\e90b";
}

.icon-camera-off:before {
    content: "\e90c";
}

.icon-microphone-off:before {
    content: "\e90d";
}

.icon-list:before {
    content: "\e90e";
}

.icon-time:before {
    content: "\e90f";
}

.icon-user-fill:before {
    content: "\e912";
}

.icon-alert:before {
    content: "\e913";
}

.icon-camera:before {
    content: "\e914";
}

.icon-envelope:before {
    content: "\e915";
}

.icon-telegram-plane:before {
    content: "\e916";
}

.icon-info:before {
    content: "\e917";
}

.icon-money:before {
    content: "\e918";
}

.icon-notification:before {
    content: "\e919";
}

.icon-file-text-plus:before {
    content: "\e91a";
}

.icon-call:before {
    content: "\e91b";
}

.icon-on-clinic:before {
    content: "\e91c";
}

.icon-newspaper:before {
    content: "\e91d";
}

.icon-phone:before {
    content: "\e91e";
}

.icon-folder-open:before {
    content: "\e930";
}