@media screen and (max-width: 992px) {  
    .header__burger, 
    .footer_mobile,
    .header .header__container {
        display: block;
    }
    
    .header__call_and_lang,
    .footer,
    .sidebar {
        display: none; 
    }

    .header {
        padding: 14px 20px;
    }

    .sidebar__mobile {
        display: flex;
        top: 55px;
    }

    .header__nav { 
        .header__logo {
            max-width: 78px; 
        }
    
        .header__menu {
            display: flex;
            justify-content: start;
            padding-left: 30px;
    
            .menu__item {
                font-size: $tiny-font-size;

                &:not(&:last-child) { 
                    .menu__link { 
                        padding-right: 21px; 
        
                        &::after { 
                            top: 50%; 
                            right: 10px;
                            width: 1px;
                            height: 20px; 
                            transform: translateY(-50%);
                        }
                    }
                }
            } 
        }
    }

    .cabinet_wrapper { 
        margin-top: 55.48px;

        .cabinet_content { 
            min-height: calc(100vh - 55.46px); 
            margin-left: 0; 

            .my_cabinet {
                margin-right: 0;
            }
        }
    }

    .authentications_wrapper {
        display: block;

        .form_content { 
            height: 100%;
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .form_wrapper {
                height: unset;
                margin: auto;
                padding: 60px 0 30px 0;
            }
        }

        .info_content {
            display: none;
        }

        .onbording_mobile {
            display: block;
        }
    }

    .cabinet_not_active__wrapper {
        height: unset;

        .cabinet_not_active {
            padding: 25px 35px; 

            .cabinet_not_active__content {
                max-width: 320px;

                .buttons_wrapper {
                    display: block;
                }
            }

            .cabinet_not_active__img {
                display: none;
            }
        } 

        .add_to_screen_block {
            display: block;
        }
    }

    .calendar__wrapper {
        display: none;
    }
}