@media screen and (max-width: 1100px) {
    .medical_cards__section {
        .medical_cards {
            .medical_cards__item {
                flex-basis: 43%;

                .card__info .card__name {
                    max-width: 150px;
                    font-size: 16px;
                    line-height: 18px; 
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {  
    .header__burger, 
    .footer_mobile,
    .header .header__container,
    .add_to_screen_block,
    .mobile__events,
    .my_cabinet__nav_mobile,
    .general_medical_cards .general_medical_cards__footer_mobile,
    .specialization__section .transition_to_sections .buttons_wrapper {
        display: block;
    }
    
    .header__call_and_lang,
    .footer, 
    .sidebar,
    .calendar__wrapper, 
    // .info_block,
    .my_cabinet__nav,
    .medical_cards_section__list_years,
    .general_medical_cards__footer {
        display: none; 
    }

    .header {
        padding: 14px 20px;
    }

    .sidebar__mobile {
        display: flex;
        top: 55px;
    }

    .header__nav { 
        .header__logo {
            max-width: 78px; 
        }
    
        .header__menu {
            display: flex;
            justify-content: start;
            padding-left: 30px;
    
            .menu__item {
                font-size: $tiny-font-size; 
            } 

            .menu__item + .menu__item {
                .menu__link { 
                    padding-left: 21px;
                    position: relative; 
    
                    &::before { 
                        top: 50%;
                        left: 10px;
                        width: 1px;
                        height: 20px; 
                        transform: translateY(-50%);
                    }
                } 
            }
        }
    }

    .info_block {
        border-radius: 0;

        .info_block__img {
            display: none;
        }

        .info_block__info {
            .info_block__button {
                max-width: 320px;

                .button {
                    @include font(500, 16px, 18px);
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            } 
        }
    }

    .cabinet_wrapper { 
        margin-top: 55.48px;

        .cabinet_content { 
            min-height: calc(100vh - 55.46px); 

            .my_cabinet {
                margin-right: 0;

                .my_cabinet__wrapper { 
                    padding: 0 20px;
                    margin: 25px auto 25px auto;
                }
            }
        }

        .content__my_cabinet {
            margin-left: 0; 
        }
    }

    .authentications_wrapper {
        display: block;

        .form_content { 
            height: 100%;
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .form_wrapper {
                height: unset;
                margin: auto;
                padding: 60px 0 30px 0;
            }
        }

        .info_content {
            display: none;
        }

        .onbording_mobile {
            display: block;
        }
    }

    .cabinet_not_active__wrapper {
        height: unset;

        .cabinet_not_active {
            padding: 25px 35px; 

            .cabinet_not_active__content {
                max-width: 702px;
                
                .buttons_wrapper {
                    display: block;
                }
            }

            .cabinet_not_active__img {
                display: none;
            }
        }
    }

    .reminders {
        margin-bottom: 40px;
    }

    .block_medical_cards {
        margin-bottom: 40px;

        .block_medical_cards__footer {
            display: none;
        }

        .block_medical_cards__footer_mobile {
            display: block;
        }

        .block_medical_cards__cards {
            margin-bottom: 30px;
        }
    }

    .transition_to_sections {
        margin-bottom: 40px;
        flex-wrap: wrap;

        .transition_to_sections__link + .transition_to_sections__link {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    .general_medical_cards {
        .medical_cards__modile { 
            display: flex;
            margin-bottom: 30px;
            flex-wrap: nowrap;
    
            .medical_cards__item { 
                min-width: 212px;
                padding-right: 15px; 
            }
        }

        .medical_cards {
            display: none;
        }
    }

    .section__title {
        @include font(500, 18px, 21px);
    }

    .medical_cards__section {
        .medical_cards_section__title_wrapper { 
            .year {
                display: block;
            }
        }

        .medical_cards_section__list_years {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .medical_cards__section {
        .medical_cards {
            .medical_cards__item {
                flex-basis: 100%;
                margin-right: 0;
                margin-bottom: 15px;

                &:hover {
                    transform: scale(0.9);
                }

                .card__info {
                    left: 40px;
                    bottom: 40px; 

                    .card__name {
                        max-width: none;
                        font-size: 20px;
                        line-height: 24px;
                    } 
                }
            }
        }
    }
}