// Fonts
$font-family-roboto: Roboto, sans-serif;
$font-family-inter: Inter, sans-serif;
$font-family-sf-pro-display: "SF Pro Display Regular", sans-serif;
$font-family-sf-pro-text: "SF Pro Text Semibold", sans-serif; 

$tiny-font-size: 12px; 
$small-font-size: 14px;
$regular-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 24px; 

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors 
$main: #1B6EBE;
$white: #FFFFFF;
$black: #000000;
$grey: #EAEAEA; 
$secondery: #B7B308;
$error: #FF4B4B;
$mobile-footer-icons: #949393;
$mobile-footer-icons-active: $main;
$mobile-footer-icons-disable: #D3D3D3;
$blue: #BEE8FF;
$light-blue: #EAF5FF;
$mark: #FF1E1E;

$title-color: #333333;
$label-color: #4F4F4F; 
$bg: #F9F9FF;