.cabinet_wrapper { 
    display: flex; 
    margin-top: 49.7px; 
    position: relative;

    .cabinet_content { 
        min-height: calc(100vh - 49.67px);
        display: flex;
        flex-direction: column; 
        flex: 1 1  auto; 

        .my_cabinet {
            margin-right: 320px;
        }

        .main { 
            flex: 1 1 auto; 
        }
    }

    .content__my_cabinet {
        margin-left: 224px; 
    }
}

.info_content__paragraph {
    max-width: 480px;
    width: 100%;
    color: #6F6F6F;
    @include font($font-weight-regular, $medium-font-size, 21px); 
}

.authentications_wrapper { 
    display: flex;
    height: 100%;
    align-items: stretch; 

    .back_to {
        position: absolute;
        top: 20px;
        left: 25px; 
    }

    .onbording_mobile {
        display: none;
        background-color: $white;
        height: 100%;
        overflow-y: auto; 
        position: relative; 

        .onbording_mobile__wrapper {
            max-width: 320px;
            width: 100%;
            margin: 0 auto;
            height: 100%;

            .info_content__paragraph { 
                @include font($font-weight-regular, $small-font-size, 16px); 
            }

            .info_content__img_wrapper {
                max-width: 316px;
                margin: 0 auto;
            }
        }
    }

    .form_content {
        flex-basis: 40%;
        background-color: $white;
        height: calc(100vh - 49.67px - 64px);
        overflow-y: auto; 
        position: relative; 

        .form_wrapper {
            max-width: 309px;
            width: 100%;
            margin: 0 auto;
            height: 100%; 
        }
    }

    .info_content {
        flex-basis: 60%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px; 

        .info_content__paragraph { 
            text-align: center;
            margin: 0 auto; 
        }

        .info_content__img_wrapper { 
            max-width: 555px;
            width: 100%; 
            margin: 0 auto; 
        }
    }
}

.cabinet_not_active__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .cabinet_not_active {
        @include flex-space-between-align-center;
        margin: auto;

        .cabinet_not_active__content {
            max-width: 340px;
            width: 100%;

            .cabinet_not_active__title {
                @include font(500, 18px, 21px);
            }

            .buttons_wrapper {
                display: none;
                max-width: 320px;
                margin: 0 auto;
            }

            .cabinet_not_active__paragraph {
                @include font(400, 14px, 16px);
            }
        }

        .cabinet_not_active__img {
            max-width: 370px;
            width: 100%
        }

        .confirmation {
            max-width: 340px;
            margin: 0 auto;

            .confirmation__link {
                display: block;
                background-color: $white;
                max-width: 160px;
                width: 100%;
                text-align: center;
                padding: 15px 0;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03);
                border-radius: 5px;
                @include transition(0.4s);

                &:hover {
                    transform: scale(0.9);
                }
            }

            .confirmation__link + .confirmation__link {
                margin-left: 10px;
            }

            .confirmation_icon__wrapper {
                display: block;
                margin: 0 auto;
                width: 40px;
                height: 40px;
                background-color: $main;
                border-radius: 50%;
                position: relative;

                .confirmation_icon { 
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: $white;
                    font-size: 25px;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.add_to_screen_block {
    display: none;
    max-width: 702px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;

    .add_to_screen__wrapper {
        padding: 25px 20px;
        position: relative;

        .add_to_screen__wrapper_content {
            display: flex;
            align-items: center;
        }

        .add_to_screen__icon {
            max-width: 51px;
        }

        .add_to_screen__text {
            @include font(400, 14px, 16px); 
            padding-left: 20px;
            padding-right: 30px;
        }

        .buttons_wrapper {
            margin: 10px auto 0 auto;
            max-width: 320px;
            width: 100%;
        }
    }
}

.close_button {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 25px;
    right: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.cabinet__title {
    @include font(500, 18px, 21px);
}

.cabinet__paragraph {
    @include font(400, 14px, 16px);
}

.my_cabinet {
    position: relative; 

    .my_cabinet__wrapper {
        max-width: 702px;
        width: 100%; 
        padding: 0 15px;
        margin: 30px auto 40px auto;

        .events__title {
            @include font(500, 16px, 18px);
            margin-bottom: 20px
        }
    }
} 

.patient_info {
    @include flex-flex-start-align-center;

    .patient_info__avatar {
        position: relative;
        width: 46px; 
        border-radius: 50%;
        overflow: hidden;

        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%; 
            transform: translate(-50%, -50%); 
            object-fit: cover; 
            object-position: center;
        }
    }
}

.reminders {
    margin-bottom: 50px;

    .reminder_item {
        background-color: $white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        padding: 10px 40px 10px 20px;
        @include flex-space-between-align-start; 
        position: relative;

        .reminder_item__block {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: 50%;
                left: -10px;
                width: 5px;
                height: 100%;
                transform: translateY(-50%);
                background-color: $main;
                border-radius: 4px;
            }

            .reminder_item__title {
                @include font(500, 14px, 16px);
                margin-bottom: 5px;
            }

            .reminder_item__text {
                @include font(400, 12px, 14px);
                max-width: 400px;
            }
        }

        .reminder_item__time {
                @include font(400, 14px, 16px);
                color: #B7B7B7;
        }

        .close_button { 
            top: 15px;
            right: 5px; 
        }
    }
}

.medical_cards { 
    @include flex-flex-start-align-center; 
    flex-wrap: wrap; 
}

.medical_cards, .medical_cards__modile {
    .medical_cards__item { 
        position: relative;
        @include transition(0.4s);

        .card__info {
            position: absolute;
            left: 15px;
            bottom: 15px; 

            .card__datetime {
                position: relative;
                display: inline-block; 
                @include font(500, 12px, 18px);
                padding: 5px 20px 5px 30px;
                background-color: #F6F5FA;
                border-radius: 100px;
                margin-bottom: 8px;

                .card__datetime_icon,
                .card__archive_icon {
                    position: absolute;
                    top: 50%;
                    left: 6px;
                    transform: translateY(-50%);
                    padding-right: 7px;
                    font-size: 18px; 
                }

                .card__datetime_icon{
                    color: $main;
                }

                .card__archive_icon{
                    color: #9C9C9C;
                }
            }

            .card__name {
                @include font(500, 18px, 21px); 
                max-width: 180px;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.general_medical_cards {
    margin-bottom: 50px;

    .general_medical_cards__header {
        @include flex-space-between-align-end;

        .general_medical_cards__title {
            @include font(500, 18px, 21px);
        }

        .general_medical_cards__button {
            max-width: 90px;
            width: 100%;

            button {
                width: 100%;
                @include font(500, 14px, 16px);
            }
        }
    }

    .medical_cards { 
        margin-bottom: 20px;

        .medical_cards__item { 
            max-width: 220px;
            padding-right: 20px; 
        }
    }

    .medical_cards__modile {
        display: none;
    }

    .general_medical_cards__footer {
        max-width: 210px;
        width: 1005;

        button {
            width: 100%;
            @include font(500, 16px, 19px);
        }
    }

    .general_medical_cards__footer_mobile {
        display: none;
        max-width: 320px;
        width: 100%; 

        button {
            @include font(600, 16px, 18px);
        }
    }
}

.transition_to_sections {
    margin-bottom: 50px;

    .transition_to_sections__link {
        @include flex-flex-start-align-center; 
        align-self: stretch;
        background-color: $white; 
        width: 100%; 
        padding: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03);
        border-radius: 5px;
        @include transition(0.4s); 

        &:hover {
            transform: scale(0.9);
        }

        &:nth-child(odd) .transition_to_sections__icon_wrapper {
            background-color: $secondery;
        }

        &:nth-of-type(even) .transition_to_sections__icon_wrapper {
            background-color: $main;
        }
    }

    .transition_to_sections__link + .transition_to_sections__link {
        margin-left: 35px;
    }

    .transition_to_sections__description {
        margin-left: 15px;

        .transition_to_sections__name {
            display: block;
            @include font(500, 16px, 18px);
            margin-bottom: 5px;
        }
    
        .transition_to_sections__text {
            @include font(400, 12px, 14px);
        }
    }

    .transition_to_sections__icon_wrapper {
        position: relative;
        display: block; 
        max-width: 40px;
        width: 100%;
        max-height: 40px; 
        height: 100%;
        border-radius: 50%; 

        .transition_to_sections__icon { 
            position: absolute;
            top: 50%;
            left: 50%;
            color: $white;
            font-size: 25px;
            transform: translate(-50%, -50%);
        }
    }
}

.info_block {
    @include flex-space-between-align-center;
    padding: 25px 25px 20px 25px;
    background-color: $white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03);
    border-radius: 10px;   
    
    .info_block__info {
        .info_block__title {
            @include font(600, 18px, 21px);
            margin-bottom: 10px
        }

        .info_block__description {
            @include font(400, 14px, 16px);
            margin-bottom: 20px;
        }

        .info_block__button {
            max-width: 190px;
            width: 100%;
            @include font(600, 14px, 16px);

            button {
                width: 100%;
            }
        }
    }

    .info_block__img {
        max-width: 190px;
        width: 100%;
        padding-left: 15px;
    }
} 


.mobile__events {
    display: none;
}

.my_cabinet__nav_mobile {
    display: none;
}

.medical_cards__section {
    .medical_cards_section__title_wrapper {
        @include flex-space-between-align-center; 

        .year {
            display: none;
        }
    }

    .medical_cards_section__list_years {
        @include flex-flex-start-align-center;

        .list_years__item {
            position: relative; 
            @include font(500, 14px, 16px); 
            margin-right: 10px; 
            cursor: pointer;

            .list_years__item_text {
                display: block; 
                padding: 6px 12px;
                border: 1px solid $main;
            border-radius: 5px;
            }

            input[type=radio] {
                opacity: 0;
                outline: none;
                position: absolute;
                z-index: -1;

                &:checked + .list_years__item_text {
                    color: $white;
                    background-color: $main;
                }
            } 
        }
    }

    .medical_cards {
        .medical_cards__item {
            flex-basis: 45%;
            margin-right: 50px;
            margin-bottom: 25px;

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            .card__info { 
                left: 20px;
                bottom: 20px; 

                .card__name {
                    max-width: 250px;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }

    .medical_cards_on_range__title {
        display: block;
        @include font(500, 14px, 16px);
        margin-bottom: 15px;
    }
}